# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false
language: php

# https://docs.travis-ci.com/user/trusty-ci-environment/
dist: trusty

matrix:
  fast_finish: true
  include:
    - env: DB=mysql; MW=REL1_32; PHPUNIT=5.7.*
      php: 7.1
    - env: DB=mysql; MW=REL1_31; PHPUNIT=5.7.*; TYPE=coverage
      php: 7.1
    - env: DB=sqlite; MW=REL1_33; SITELANG=ja; PHPUNIT=6.5.*
      php: 7.1
    - env: DB=mysql; MW=master; PHPUNIT=8.5.*
      php: 7.4
  allow_failures:
    - env: DB=sqlite; MW=REL1_33; SITELANG=ja; PHPUNIT=6.5.*
    - env: DB=mysql; MW=master; PHPUNIT=8.5.*

install:
  - travis_retry composer self-update
  - bash ./tests/travis/install-mediawiki.sh
  - bash ./tests/travis/install-semantic-interlanguage-links.sh

script:
  - bash ./tests/travis/run-tests.sh

after_success:
  - bash ./tests/travis/upload-coverage-report.sh

notifications:
  email:
    on_success: change
    on_failure: always

cache:
  directories:
    - $HOME/.composer/cache
